<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :course_id %> (select the course from the dropdown menu)<br>
    <%= f.collection_select(:course_id, Course.all, :id, :course_code, :class => 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label :instructor_id %><br>
    <%= f.collection_select(:instructor_id, Instructor.all, :id, :first_name) %>
  </div>
  <div class="form-group">
    <%= f.label :term_id %> (select the term from the dropdown menu) <br>
    <%= f.collection_select(:term_id, Term.all, :id, :term_formatted) %>
  </div>
  <div class="form-group">
    <%= f.label :lecture_name %><br>
    <%= f.text_field :lecture_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :chapter %><br>
    <%= f.text_field :chapter, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description ,:class => 'form-control' %>
  </div>
  <div class="form-group">
    Upload your pdf or single image file here <br>
    <%= f.file_field :file, as: :file %> 
  </div>

  <div class="form-group">
    If you have mutiple images upload it here<br>
    <%= file_field_tag "lecture_files[]", type: :file, multiple: true %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
