<h1>Listing Lectures</h1>

<table>
  <thead>
    <tr>
      <th width="100px">User</th>
      <th width="100px">Course</th>
      <th width="100px">Instructor</th>
      <th width="100px">Term</th>
      <th width="100px">Lecture name</th>
      <th width="100px">Chapter</th>
      <th width="100px">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.user.email %></td>
        <td><%= lecture.course.course_name %></td>
        <td><%= lecture.instructor.first_name %></td>
        <td><%= lecture.term.term_formatted %></td>
        <td><%= lecture.lecture_name %></td>
        <td><%= lecture.chapter %></td>
        <td><%= lecture.description %></td>
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture', new_lecture_path %>
