<h4>
<% if current_user == @lecture.user %>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<% end %>
<%= link_to 'Back to All Lecture', lectures_path %>
</h4>

<br>
<div class="jumbotron" >
<p>
  <strong>Shared by:</strong>
  <%= @lecture.user.first_name %><br>
  <strong> Class: </strong> <%= @lecture.user.student_id_number.div(10000) %> 
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.course_code %> &nbsp <%= @lecture.course.course_name %> 
</p>

<p>
  <strong>Instructor:</strong>
  <%= @lecture.instructor.first_name %> &nbsp <%= @lecture.instructor.last_name %>
</p>

<p>
  <strong>Term:</strong>
  <%= @lecture.term.term_formatted %>
</p>

<p>
  <strong>Lecture name:</strong>
  <%= @lecture.lecture_name %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @lecture.chapter %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>
</div>

<% if @lecture.lecture_files.first != nil %>

<% if @lecture.lecture_files.first.image.exists? %>
  <p>
      <h3> File preview: </h3> <br>
      <% @lecture.lecture_files.each do |img| %>
        <% if img.image_content_type.include? "image" %>
            <%= link_to image_tag(img.image.url, width: 200, height: 300), img.image.url %>
        <% else %>
            <%= link_to image_tag(img.image.url(:pdf_thumbnail), width: 200, height: 300), img.image.url %>    
        <% end %> 
      <% end %>
  </p>
  <h3> List of Files </h3>
  <ul> 
     <% @lecture.lecture_files.each do |img| %>
        <li> <%= link_to img.image_file_name, img.image.url %> <small><%= img.image_content_type %></small> </li> 
      <% end %>
  </ul>
<% end %>
<% end %>
<div class="container">
  <div class= "well well-lg">
  <%= render 'reviews/form' %>
  </div>
<div class="jumbotron">
  <div class="well well-lg">
      <% @lecture.reviews.each do |review| %>
        <strong> Review by: </strong> <%= review.user.first_name %> <br>
        <small> <strong> Class: </strong> <%= review.user.student_id_number.div(10000) %> </small>
        <p> <%= review.content %> </p>
      <% end %>
  </div>
<div>

</div>