<p id="notice"><%= notice %></p>

<p>
  <strong>Lect name:</strong>
  <%= @lecture.lect_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @lecture.string %>
</p>

<p>
  <strong>Term:</strong>
  <%= @lecture.term_id %>
</p>

<p>
  <strong>String:</strong>
  <%= @lecture.string %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @lecture.chapter %>
</p>

<p>
  <strong>String:</strong>
  <%= @lecture.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>

<p>
  <strong>String:</strong>
  <%= @lecture.string %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
