<h4>
<% if current_user == @lecture.user %>
<%= link_to 'Delete this lecture', @lecture, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<% end %>
<%= link_to 'Back to All Lecture', lectures_path %>
</h4>
        
<br>
<div class="well well-lg" >
<p style="text-align: right;"> 
  <small><strong>Edited at:</strong> <%= @lecture.updated_at %></small>
</p>
<p>
  <strong>Shared by:</strong>
  <%=link_to @lecture.user.first_name, user_path(@lecture.user.id) %><br>
  <strong> Class: </strong> <%= @lecture.user.student_id_number.div(10000) %> 
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.course_code %>  <%= @lecture.course.course_name %> 
</p>

<p>
  <strong>Instructor:</strong>
  <%= @lecture.instructor.first_name %> <%= @lecture.instructor.last_name %>
</p>

<p>
  <strong>Term:</strong>
  <%= @lecture.term.term_formatted %>
</p>

<p>
  <strong>Lecture name:</strong>
  <%= @lecture.lecture_name %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @lecture.chapter %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>

<p>
 <strong>Average rating: </strong>
  <% total = 0 %>
  <% n = 0 %>
  <% @lecture.reviews.each do |review| %>
    <% if !review.rating.nil? %>
      <% total += review.rating %>
      <% n += 1 %>
    <% end %>
  <% end %>
  <% if total != 0 %>
  <%= total/n %>
  <% (1..5).each do |i| %>
        <% if i <= total/n %>
          <span class="glyphicon glyphicon-star"></span>
        <% else %>
          <span class= "glyphicon glyphicon-star-empty"></span>
        <% end %> 
  <% end %>
  <small>(review by <%= n %> people)</small>
  <% else %>
    There are currently no review 
  <% end %>
</p>
</div>

<% if @lecture.lecture_files.first != nil %>

<% if @lecture.lecture_files.first.image.exists? %>
  <p>
      <h3> File preview: </h3> <br>
      <% @lecture.lecture_files.each do |img| %>
        <% if img.image_content_type.include? "image" %>
            <%= link_to image_tag(img.image.url, width: 200, height: 300), img.image.url %>
        <% else %>
            <%= link_to image_tag(img.image.url(:pdf_thumbnail), width: 200, height: 300), img.image.url %>    
        <% end %> 
      <% end %>
  </p>
  <h3> List of Files </h3>
  <ul> 
     <% @lecture.lecture_files.each do |img| %>
        <li> <%= link_to img.image_file_name, img.image.url %> <small><%= img.image_content_type %></small> </li> 
      <% end %>
  </ul>
<% end %>
<% end %>


<div class="container">
  <div class= "well">
  <% logger.debug "the boolean value #{@lecture.reviews.find_by(lecture_id: @lecture.id ) != nil && params[:edited] != '1' }" %>
  <% if (@lecture.reviews.find_by(lecture_id: @lecture.id ) == nil || params[:edited]) && (@lecture.user != current_user)  %>
  <% logger.debug "Should render form" %>
      <% if @lecture.reviews.find_by(lecture_id: @lecture.id ) != nil %>
        <% @review = @lecture.reviews.find_by(lecture_id: @lecture.id ) %>
      <% end %>
   <%= render 'reviews/form' %>
  <% elsif @lecture.user == current_user %>
    <p> <strong> You cannot review your own lecture </strong> </p>
  <% else %>
  <% if @lecture.reviews.find_by(lecture_id: @lecture.id ) != nil && !params[:edited] %>
    <% my_review = @lecture.reviews.find_by(lecture_id: @lecture.id ) %>
    <p> <strong> Your Review </strong> <small> You can only make 1 review per lecture </small>  </p>
    <p> <%= my_review.content %> </p>
    <% if !my_review.rating.nil? %>
    <p> Review Score:  <%= my_review.rating %>
    <% (1..5).each do |n| %>
        <% if n <= my_review.rating %>
          <span class="glyphicon glyphicon-star"></span>
        <% else %>
          <span class= "glyphicon glyphicon-star-empty"></span>
        <% end %> 
    <% end %>
    </p>
     <% end %>
          <%= link_to 'Edit', edit_review_lecture_path(@lecture, :edited => '1') , method: :put%> |
          <%= link_to 'Delete review', my_review, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  <% end %> 
  </div>
<div class="well well-lg">
<h2> Lecture Reviews </h2>
 <% if @lecture.reviews.any? %>
  <div class="well ">
      <% @lecture.reviews.each do |review| %>
        <p style="text-align: right;"> 
            <small><strong>Edited at:</strong> <%= review.updated_at %></small>
        </p>
        <div class="row">
          <div class="col-md-1">
            <%= image_tag review.user.avatar.url(:thumb) %>
          </div>
          <div class="col-md-4">
            <h4> <strong> Review by: </strong> <%=link_to review.user.first_name, user_path(review.user.id) %> <br> </h4>
            <h5> <strong> Class: </strong> <%= review.user.student_id_number.div(10000) %> </h5>
          </div>
        </div>
        <br>
        <p> <%= review.content %> </p>
        <% if !review.rating.nil? %>
           <p> Review Score:  <%= review.rating %>
           <% (1..5).each do |n| %>
                 <% if n <= review.rating %>
                     <span class="glyphicon glyphicon-star"></span>
                <% else %>
                       <span class= "glyphicon glyphicon-star-empty"></span>
                <% end %> 
            <% end %>
           </p>
        <% end %>
          <% if current_user == review.user %>
            <%= link_to 'Edit', '#edit_review'%> |
            <%= link_to 'Delete review', review , method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
  </div>
  <% end %>
<div>

</div>