<p>
  <strong>Shared by:</strong>
  <%= @lecture.user.first_name %><br>
  Class: <%= @lecture.user.student_id_number.div(10000) %> 
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.course_code %> &nbsp <%= @lecture.course.course_name %> 
</p>

<p>
  <strong>Instructor:</strong>
  <%= @lecture.instructor.first_name %> &nbsp <%= @lecture.instructor.last_name %>
</p>

<p>
  <strong>Term:</strong>
  <%= @lecture.term.term_formatted %>
</p>

<p>
  <strong>Lecture name:</strong>
  <%= @lecture.lecture_name %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @lecture.chapter %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>
<% if @lecture.file.exists? %>
<p>
  <strong>File Preview:</strong> <br>
  <%= link_to image_tag(@lecture.file.url(:pdf_thumbnail), width: 200, height: 300), @lecture.file.url %>
  <br>
  Or Download the file here <br>
  <%= link_to 'Download', @lecture.file.url %>
</p>
<% end %> 

<% if @lecture.lecture_files.first != nil %>

<% if @lecture.lecture_files.first.image.exists? %>
  <p>
      Multiple file preview: <br>
      <% @lecture.lecture_files.each do |img| %>
        <%= link_to image_tag(img.image.url, width: 200, height: 300), img.image.url %> 
      <% end %>
  </p>
<% end %>

<% end %>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
