<script type="text/javascript">

  function catChange() {
    var elt = document.getElementById('cat');
    var sel = elt.options[elt.selectedIndex].value;
    if(sel === "tutor"){
      $(".js-tag-course").prop("disabled", false);
      $('#other-clear').select2().val(null).trigger('change')
      $(".js-tag-other").prop("disabled", true);
    }else{
      $(".js-tag-course").prop("disabled", true);
      $('#course-clear').select2().val(null).trigger('change')
      $(".js-tag-other").prop("disabled", false);
    }
  }

  $(document).ready(function() {
    $(".js-tags").select2({
      tags: true
    });

    $(".js-normal").select2({
      minimumResultsForSearch: Infinity
    })

  });

</script>
<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select(:category, options_for_select([['Tutor', 'tutor'], ['Other', 'other']]), {prompt: 'Select one'}, {:class => 'js-normal', :onchange => 'catChange()', :id => 'cat'}) %>
  </div>
  <div class="form-group">
    <%= f.label :type %><br>
    <%= f.select(:type, options_for_select([['Request for Work', 'RequestWork'], ['Hire Work', 'HireWork']]), {:prompt => 'Select one'}, {:class => 'js-normal'}) %>
  </div>
  <div class="form-group">
    tags the courses or subject <br>
    <%= select_tag :course_tag_list, options_from_collection_for_select(Course.all,:id, :name_code), multiple: true, class: 'js-tags js-tag-course', id: 'course-clear'%>
  </div>
  <div class="form-group">
    tags other kind of work <br>
    <%= select_tag :other_tag_list, options_from_collection_for_select(Instructor.all, :id, :full_name), multiple: true, class:'js-tags js-tag-other', id: 'other-clear' %> 
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-danger' %>
  </div>
<% end %>
