<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Student:</strong>
  <%= @user.student_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @user.integer %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @user.phone_num %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
