<h4><%= link_to 'Back to All Courses', courses_path %></h4>
<h3><%= @course.course_code %> <%= @course.course_name %></h1>
</br>
<% if @course.lectures.any? %>
  <h4> Lectures (<%= @course.lectures.count %>) </h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Thumbnail </th>
        <th>Share by</th>
        <th >Instructor</th>
        <th >Term</th>
        <th >Lecture name</th>
        <th >Chapter</th>
        <th > Average rating </th>
      </tr>
    </thead>
    <%= render 'courselecture' %>

  </table>
<%end%>
