<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @review.lecture %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
