<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :lecture_id%>
  <%= f.hidden_field :user_id%>

  <div class="form-group">
    <h4> by <%= current_user.first_name %> </h4> <br>
    <strong > Class: </strong><%= current_user.student_id_number.div(10000) %> 
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <p> Evaluate this lecture note </p>
    <%= f.radio_button(:rating, 1) %> 
    <%= f.label(:rating_1, "This sucks") %> &nbsp
    <%= f.radio_button(:rating, 2) %> 
    <%= f.label(:rating_2, "not that good") %> &nbsp
    <%= f.radio_button(:rating, 3) %> 
    <%= f.label(:rating_3, "not bad") %> &nbsp
    <%= f.radio_button(:rating, 4) %>
    <%= f.label(:rating_4, "pretty nice") %> &nbsp
    <%= f.radio_button(:rating, 5) %>
    <%= f.label(:rating_5, "This is too awesome") %> &nbsp
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default'%>
  </div>
<% end %>
