

<h3>All Lectures</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th> Thumbnail </th>
      <th>Share by</th>
      <th >Course</th>
      <th >Instructor</th>
      <th >Term</th>
      <th >Lecture name</th>
      <th >Chapter</th>
      <th > Average rating </th>
    </tr>
  </thead>

  <tbody>
      <%= render 'lecture_content' %>
  </tbody>
</table>

<%= will_paginate @lectures, renderer: BootstrapPagination::Rails %>

<% if can? :update, @lectures %>
<h3> Approve or Disapprove transaction </h3>
    <table class="table table-striped">
  <thead>
    <tr>
      <th> Thumbnail </th>
      <th>Share by</th>
      <th >Course</th>
      <th >Instructor</th>
      <th >Term</th>
      <th >Lecture name</th>
      <th >Chapter</th>
      <th > Action </th>
    </tr>
  </thead>

  <tbody>
      <%= render 'lecture_content_admin' %>
  </tbody>
</table>
<%= will_paginate @lectures_admin, renderer: BootstrapPagination::Rails %>
<% end %>

<br>
<% if user_signed_in? %>
<%= link_to 'New Lecture', new_lecture_path, :class => 'btn btn-default' %>
<% else %>
<p> Please sign in before making new lectures </p>
<% end %> 