<!DOCTYPE html>
<html>
<head>
  <title>Muicwebboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'layouts/navtop' %>


<% if request.path != root_path && request.path != static_pages_path %>
  <div class="container">
  <%= yield %>
  </div>
<%else%>
  <%= yield %>
<%end%>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
