<div class="container">
<div class="well">
  <div class="row">
    <div class="col-md-8">
      <h2><i class="fa fa-user fa-2x" aria-hidden="true"></i> User Profile </h2>
      <p><strong>Name:</strong><%= @user.first_name %> <%= @user.last_name %> </p>
      <p><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> <strong>Email: </strong> <%= @user.email %></p>
      <p><strong>Major: </strong> <%= @user.major.major_name %> (<%= @user.major.major_code %>)</p>
      <p><strong> Class: </strong> <%= @user.student_id_number.div(10000) %> </p>
      <p><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> <strong> Phone Number: </strong> <%= @user.phone_number %> </p>
      <p><strong>Line id: </strong><%= @user.line %> </p>
      <p><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i> <strong>Facebook : </strong><%= 
      link_to @user.facebook, @user.facebook %> <i class="fa fa-external-link" aria-hidden="true"></i> </p>
      <p> <strong>User Level: </strong> <%= @user_role.role.name %> </p>
      <p><%= link_to 'Edit Registration Info', edit_user_registration_path %> </p>
    </div>
    <div class="col-md-4">
      <%= image_tag @user.avatar(:medium) %> <br>
    </div>
</div>
</div>
</div>

<div class="container">
<h2> User Uploaded Lecture Notes </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Thumbnail </th>
      <th >Course</th>
      <th >Instructor</th>
      <th >Term</th>
      <th >Lecture name</th>
      <th >Chapter</th>
      <th > Average rating </th>
      <th colspan="2"> Option </th>
    </tr>
  </thead>

  <tbody>
    <% @user.lectures.each do |lecture| %>
      <tr>
        <td>
        <% if !lecture.lecture_files.first.nil? %>
        <% if lecture.lecture_files.first.image.content_type.include? "image" %>
            <%= link_to image_tag(lecture.lecture_files.first.image.url, width: 100, height: 150), lecture %>
        <% else %>
            <%= link_to image_tag(lecture.lecture_files.first.image.url(:pdf_thumbnail), width: 100, height: 150), lecture %>
        <% end %>
        <% end %>
        </td>
        <td><%= lecture.course.course_name%></td>
        <td><%= lecture.instructor.first_name %></td>
        <td><%= lecture.term.term_formatted %></td>
        <td><%= link_to lecture.lecture_name, lecture %></td>
        <td><%= lecture.chapter %></td>
        <td>
          <% total = 0 %>
          <% n = 0 %>
          <% lecture.reviews.each do |review| %>
            <% if !review.rating.nil? %>
              <% total += review.rating %>
              <% n += 1 %>
            <% end %>
          <% end %>
          <% if total != 0 %>

          <% (1..5).each do |i| %>
                <% if i <= total/n %>
                  <span class="glyphicon glyphicon-star"></span>
                <% else %>
                  <span class= "glyphicon glyphicon-star-empty"></span>
                <% end %>
          <% end %>
          <% else %>
            There are currently no review
          <% end %>
        </td>
         <% if current_user == lecture.user %>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Remove', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
